{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
    <h2 class="text-center">Forgot Password</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'forgot_password' %}">
    {% csrf_token %}
         <label for="username">Enter Username:</label>
         <input type="text" name="username" required>
         <button type="submit">Next</button>
    </form>
</div>
{% endblock %}
