{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
    <h2 class="text-center">Reset Password for {{ username }}</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'reset_password' username=username %}">
    {% csrf_token %}
           <label>New Password:</label>
           <input type="password" name="new_password" required>
           <label>Confirm Password:</label>
           <input type="password" name="confirm_password" required>

            <button type="submit">Reset Password</button>
</form>

</div>
{% endblock %}
